// VARIABLES /////////////////////////////

$colors: (
  Strong-cyan: hsl(171, 66%, 44%),
  Light-blue: hsl(233, 100%, 69%),
  Dark-grayish-blue: hsl(210, 10%, 33%),
  Grayish-blue: hsl(201, 11%, 66%),
  White: hsl(0, 100%, 100%),
  Light-gray: rgba(241, 243, 243, 0.5),
);

$landing-font: "Bai Jamjuree", sans-serif;

$section-heading-font-size: 34px;
$section-paragraph-font-size: 17px;

$btn-container-width: 430px;

$mobile-width: 1200px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin heading() {
  color: color(Dark-grayish-blue);
  font-size: $section-heading-font-size;
  font-weight: 600;
  margin-bottom: 0;
}

@mixin paragraph() {
  color: color(Grayish-blue);
  font-size: $section-paragraph-font-size;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-top: 20px;
}

@mixin download-btn() {
  color: color(White);
  font-size: 15px;
  font-weight: 600;
  font-family: $landing-font;
  width: 200px;
  letter-spacing: 1px;
  padding: 15px 28px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
  transition: 0.25s;

  &--cyan {
    background-color: color(Strong-cyan);
  }

  &--blue {
    background-color: color(Light-blue);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

@mixin mobile() {
  @media (max-width: $mobile-width) {
    @content;
  }
}

///////////////////////////////////////
// FUNCTIONS /////////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, center);
  min-height: 100vh;
}

.page {
  @include flex(column, flex-start, center);
  font-family: $landing-font;
}

.header {
  @include flex(column, flex-start, center);
  background: url("../images/bg-header-desktop.png") no-repeat;
  width: 100%;

  &__logo {
    width: 100px;
    margin-top: 100px;
  }

  &__heading {
    @include heading();
    font-size: 38px;
  }

  &__paragraph {
    @include paragraph();
    font-size: 18.5px;
    text-align: center;
    width: 50%;
    margin-bottom: 35px;
  }

  &__btn-container {
    @include flex(row, space-around, center);
    width: $btn-container-width;
    margin-bottom: 120px;
  }

  &__btn {
    @include download-btn();
  }
}

.snippets {
  @include flex(column, flex-start, center);

  &__heading {
    @include heading();
  }

  &__paragraph {
    @include paragraph();
    width: 50%;
    text-align: center;
    margin-bottom: 85px;
  }

  &__img-text-container {
    @include flex(row, flex-start, flex-start);
    margin-bottom: 110px;
  }

  &__img {
    width: 700px;
  }

  &__text-container {
    @include flex(column, space-around, flex-start);
    height: 400px;
    margin-left: 40px;
  }

  &__container-item {
    @include flex(column, flex-start, flex-start);
  }

  &__item-heading {
    @include heading();
    font-size: 22px;
    margin: 0 0 10px;
  }

  &__item-text {
    @include paragraph();
    font-size: 15.5px;
    width: 350px;
    margin: 0;
  }
}

.access {
  @include flex(column, flex-start, center);

  &__heading {
    @include heading();
  }

  &__paragraph {
    @include paragraph();
    width: 72%;
    text-align: center;
    margin-bottom: 80px;
  }

  &__img {
    margin-bottom: 50px;
  }
}

.supercharge {
  @include flex(column, flex-start, center);

  &__heading {
    @include heading();
  }

  &__paragraph {
    @include paragraph();
    margin-bottom: 85px;
  }

  &__img-text-container {
    @include flex(row, center, center);
    width: 100%;
  }

  &__container-item {
    @include flex(column, flex-start, center);
    width: 70%;
    height: 350px;
    text-align: center;
  }

  &__container-img {
    height: 37px;
    margin-bottom: 15px;
  }

  &__container-heading {
    @include heading();
    font-size: 25px;
  }

  &__container-paragraph {
    @include paragraph();
    font-size: 15px;
    width: 85%;
  }
}

.used-by {
  @include flex(row, space-around, center);
  width: 100%;
  margin-bottom: 110px;
}

.cta {
  @include flex(column, flex-start, center);
  width: 100%;

  &__heading {
    @include heading();
  }

  &__paragraph {
    @include paragraph();
    width: 55%;
    text-align: center;
    margin-bottom: 35px;
  }

  &__btn-container {
    @include flex(row, space-around, center);
    width: $btn-container-width;
    margin-bottom: 110px;
  }

  &__btn {
    @include download-btn();
  }
}

.footer {
  @include flex(row, flex-start, center);
  background-color: color(Light-gray);
  width: 100%;
  height: 150px;

  &__logo {
    width: 50px;
    margin-left: 170px;
    margin-right: 80px;
  }

  &__link-column {
    @include flex(column, flex-start, flex-start);
    margin: 0 38px;
  }

  &__link {
    color: color(Dark-grayish-blue);
    font-weight: 600;
    margin: 10px 0;
    transition: 0.1s;

    &:hover {
      cursor: pointer;
      color: color(Strong-cyan);
    }
  }

  &__icons-container {
    @include flex(row, space-between, center);
    width: 120px;
    margin-left: 190px;
  }

  &__icon {
    transition: 0.1s;

    &:hover {
      cursor: pointer;
      filter: invert(57%) sepia(50%) saturate(597%) hue-rotate(121deg)
        brightness(96%) contrast(90%);
    }
  }
}

#install-link {
  margin-bottom: 50px;
}

@include mobile() {
  .page {
    text-align: center;
  }

  .header {
    &__heading {
      width: 80%;
    }

    &__paragraph {
      width: 80%;
    }

    &__btn-container {
      @include flex(column, flex-start, center);
      width: 100%;
      margin-bottom: 70px;
    }

    &__btn {
      width: 80%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }

  .snippets {
    &__heading {
      width: 80%;
    }

    &__paragraph {
      width: 80%;
      margin-bottom: 50px;
    }

    &__img-text-container {
      @include flex(column, flex-start, center);
      margin-bottom: 60px;
    }

    &__text-container {
      margin-top: 60px;
      margin-left: 0;
    }

    &__container-item {
      align-items: center;
    }

    &__img {
      width: 300px;
    }
  }

  .access {
    &__heading {
      width: 80%;
    }

    &__paragraph {
      width: 80%;
      margin-bottom: 50px;
    }

    &__img {
      width: 380px;
      margin-bottom: 60px;
    }
  }

  .supercharge {
    &__heading {
      width: 80%;
    }

    &__paragraph {
      width: 80%;
    }

    &__img-text-container {
      @include flex(column, flex-start, center);
      margin-bottom: 20px;
    }

    &__container-item {
      height: 100%;
      margin-bottom: 50px;
    }
  }

  .used-by {
    @include flex(column, flex-start, center);
    margin-bottom: 70px;

    &__logo {
      margin: 30px 0;
    }
  }

  .cta {
    &__heading {
      width: 80%;
    }

    &__paragraph {
      width: 80%;
    }

    &__btn-container {
      @include flex(column, flex-start, center);
      width: 100%;
      margin-bottom: 70px;
    }

    &__btn {
      width: 80%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }

  .footer {
    @include flex(column, flex-start, center);
    height: 100%;
    padding: 50px 0;

    &__logo {
      margin: 0 0 31px 0;
    }

    &__link-column {
      align-items: center;
      margin: 0;
    }

    &__link {
      margin: 10px 0;
    }

    &__icons-container {
      margin: 0;
    }
  }
}
