// VARIABLES /////////////////////////////

$colors: (
  Strong-cyan: hsl(171, 66%, 44%),
  Light-blue: hsl(233, 100%, 69%),
  Dark-grayish-blue: hsl(210, 10%, 33%),
  Grayish-blue: hsl(201, 11%, 66%),
  White: hsl(0, 100%, 100%),
);

$landing-font: "Bai Jamjuree", sans-serif;

$section-heading-font-size: 34px;
$section-paragraph-font-size: 17px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin heading() {
  color: color(Dark-grayish-blue);
  font-weight: 600;
}

@mixin paragraph() {
  color: color(Grayish-blue);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 28px;
}

@mixin download-btn() {
  color: color(White);
  font-size: 15px;
  font-weight: 600;
  font-family: $landing-font;
  width: 200px;
  letter-spacing: 1px;
  padding: 15px 28px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
  transition: 0.25s;

  &--cyan {
    background-color: color(Strong-cyan);
  }

  &--blue {
    background-color: color(Light-blue);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

///////////////////////////////////////
// FUNCTIONS /////////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, center);
  min-height: 100vh;
}

.page {
  @include flex(column, flex-start, center);
  font-family: $landing-font;
}

.header {
  @include flex(column, flex-start, center);
  background: url("../images/bg-header-desktop.png") no-repeat;
  width: 100%;

  &__logo {
    width: 100px;
    margin-top: 100px;
  }

  &__heading {
    @include heading();
    font-size: 38px;
    margin-bottom: 0;
  }

  &__paragraph {
    @include paragraph();
    font-size: 18.5px;
    text-align: center;
    width: 50%;
    margin-top: 17px;
    margin-bottom: 35px;
  }

  &__btn-container {
    @include flex(row, space-around, center);
    width: 430px;
    margin-bottom: 120px;
  }

  &__btn {
    @include download-btn();
  }
}

.snippets {
  @include flex(column, flex-start, center);

  &__heading {
    @include heading();
    font-size: $section-heading-font-size;
    margin-bottom: 0;
  }

  &__paragraph {
    @include paragraph();
    font-size: $section-paragraph-font-size;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
  }

  &__img-text-container {
    @include flex(row, flex-start, flex-start);
    margin-bottom: 110px;
  }

  &__img {
    width: 700px;
    transform: translate(-160px, 0);
    overflow: hidden;
  }

  &__text-container {
    @include flex(column, space-between, flex-start);
    height: 370px;
    transform: translate(-50px, 30px);
  }

  &__container-item {
    @include flex(column, flex-start, flex-start);
  }

  &__item-heading {
    @include heading();
    font-size: 22px;
    margin: 0 0 10px;
  }

  &__item-text {
    @include paragraph();
    font-size: 15.5px;
    width: 350px;
    margin: 0;
  }
}

.access {
  @include flex(column, flex-start, center);

  &__heading {
    @include heading();
    font-size: $section-heading-font-size;
    margin-bottom: 0;
  }

  &__paragraph {
    @include paragraph();
    font-size: $section-paragraph-font-size;
    width: 72%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  &__img {
    margin-bottom: 70px;
  }
}

.supercharge {
  @include flex(column, flex-start, center);

  &__heading {
    @include heading();
    font-size: $section-heading-font-size;
    margin: 0;
  }

  &__paragraph {
    @include paragraph();
    font-size: $section-paragraph-font-size;
    margin-top: 20px;
    margin-bottom: 85px;
  }

  &__img-text-container {
    @include flex(row, center, center);
    width: 100%;
  }

  &__container-item {
    @include flex(column, flex-start, center);
    width: 70%;
    height: 350px;
    text-align: center;
  }

  &__container-img {
    height: 37px;
    margin-bottom: 15px;
  }

  &__container-heading {
    @include heading();
    font-size: 25px;
    margin-bottom: 0;
  }

  &__container-paragraph {
    @include paragraph();
    font-size: 15px;
    width: 85%;
    margin-top: 20px;
  }
}

.used-by {
  @include flex(row, space-around, center);
  width: 100%;
  margin-bottom: 110px;
}

.cta {
  @include flex(column, flex-start, center);

  &__btn-container {
    @include flex(row, center, center);
  }
}

.footer {
  @include flex(row, flex-start, center);

  &__link-column {
    @include flex(column, flex-start, center);
  }

  &__icons-container {
    @include flex(row, center, center);
  }
}
